main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.page-logo {
  font-size: 6rem;
  font-family: inriaBold;
  color: #BAD9C2;
  text-shadow: #00000022 1px 1px 3px;
}

.nav {
  align-items: center;
}

.nav-item a {
  font-family: inriaBold;
}

.nav-item>a:hover {
  background-color: #BAD9C2;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s ease;
  animation-fill-mode: forwards;
}

.intro-text {
  animation-delay: 500ms;
  margin: 4rem 0;
}

.gib-logo {
  animation-delay: 1500ms;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.gib-logo img {
  width: 750px;
}

.overview-video {
  margin-top: 2rem;
  animation-delay: 1500ms;
  box-shadow: #00000044 1px 1px 10px;
}

#premium-container {
  position: relative;
}
#premium-header {
  transform: rotate(8deg);
  width: 100%;
}

#premium-content-label {
  /*position: absolute;*/
  width: 1268px;
  height: 150px;
  left: 108.88px;
  top: 270px;

  font-family: 'Holtwood One SC';
  font-style: normal;
  font-weight: 200px;
  font-size: 90px;
  line-height: 150px;
  /* identical to box height */

  letter-spacing: 0.07em;

  background: linear-gradient(180deg, #FF7A00 0%, #FAFF00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000000;
}

#premium-content { 
  position: relative;
  height: 83vh;
}

#premium-content p {
  font-size: 1.2rem;
}

#premium-cover { 
  position: absolute;
  top: 20vh;
  height: 69vh;
  width: 100%;
  background-color: #BFE0FF;
  font-family: 'Gothic A1';
  font-style: normal;
  box-shadow: #00000022 0px -2px 10px;
}

#paywall-text {
  font-family: robotoRegular;
  color: #000000;
}

.paywall-oops {
  width: 200px;
  margin-bottom: 5rem;
}

.paywall-hint {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.footer-container {
  width: 100vw;
}

.paywall-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.feedback-input {
  width: 100%;
}

textarea.feedback-input {
  height: 250px;
}

.form-notice {
  display: none;
}

#notice-text {
  padding: 1rem 3rem;
  border-radius: 0.3rem;
  box-shadow: #ff191944 1px 1px 10px;
  color: red;
  font-family: robotoBold;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
