<div class="container-lg">
  <header class="d-flex flex-wrap justify-content-center py-3">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <h1 class="page-logo">Gib</h1>
    </a>

    <ul class="nav nav-pills fs-4">
      <li class="nav-item px-1"><a href="https://community.webmonetization.org/gib" class="nav-link text-black" aria-current="page">About</a></li>
      <li class="nav-item px-1"><a href="/demo" class="nav-link text-black">Demo</a></li>
      <li class="nav-item px-1"><a href="/generate" class="nav-link text-black">Generate Link</a></li>
      <li class="nav-item px-1"><a href="/feedback" class="nav-link text-black">Feedback</a></li>
    </ul>
  </header>
</div>
