<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials_head'); %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Holtwood+One+SC&display=swap"
      rel="stylesheet">
    <script src="public/jquery-3.6.0.js"></script>
    <script src="public/demo.js"></script>
</head>

<body>
  <main>
    <%- include('./partials_header'); %>
      <div id="premium-container">
        <div id="premium-content">
          <div class=" mt-5">
            <div id="premium-header" class="pt-4">
              <div class="container-lg text-center">
                <span class="h1 " style="font-size:3rem;">
                  (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
                </span>
              </div>
              <div class="container-lg text-center">
                <span id="premium-content-label">Premium Content !</span>
              </div>
            </div>
          </div>
          <div>
            <div class="mt-5 pt-5 container text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque urna id libero venenatis, quis
              ullamcorper nisi semper. Donec gravida metus sit amet urna scelerisque feugiat. Lorem ipsum dolor sit
              amet,
              consectetur adipiscing elit. Praesent bibendum, ligula condimentum imperdiet maximus, est enim pulvinar
              dolor,
              vel ultricies nisi quam vel purus. Phasellus id urna urna. Aliquam erat volutpat. Mauris ultrices mollis
              neque
              sed efficitur. Etiam laoreet pulvinar tempus. Duis ut euismod leo. Ut ac leo non urna aliquet tempor. Ut
              sit
              amet elit dapibus, euismod augue vel, pulvinar ipsum. Nunc sed feugiat odio. Donec vitae lectus lorem.

              Morbi orci quam, semper id condimentum ac, fringilla at tellus. Nulla est magna, suscipit vel eros a,
              consequat
              blandit nibh. Morbi in ante non odio bibendum lacinia. Integer enim justo, tincidunt quis sapien ac,
              congue
              pellentesque arcu. Ut in mi consequat erat scelerisque scelerisque et pellentesque tortor. Morbi placerat
              nulla
              et nibh imperdiet cursus. Pellentesque est magna, posuere vel quam eu, interdum molestie justo. Interdum
              et
              malesuada fames ac ante ipsum primis in faucibus. Vestibulum nec justo feugiat, efficitur mi sodales,
              suscipit
              dolor. Proin aliquam augue sed imperdiet consectetur. Etiam lacinia risus ac tellus convallis, id feugiat
              dolor
              efficitur. Etiam dapibus eget magna sed auctor.

              Duis in enim eget erat facilisis porttitor. Fusce sodales hendrerit elit, ut ullamcorper ligula accumsan
              vel.
              Ut
              id suscipit justo, ut malesuada felis. Duis tincidunt mollis rhoncus. Aliquam efficitur nibh in erat
              porttitor,
              ac auctor purus vulputate. Vivamus euismod erat sed quam fringilla gravida. Class aptent taciti sociosqu
              ad
              litora torquent per conubia nostra, per inceptos himenaeos. Phasellus hendrerit tortor magna, sed
              ultricies
              dui
              dignissim ut. Sed nec hendrerit turpis. Mauris tincidunt semper felis eget egestas. Mauris ultrices
              egestas
              egestas. Sed eget lectus non libero dapibus tempus. Proin quis suscipit dolor.
            </div>
          </div>
        </div>
        <div id="premium-cover">
          <div class="pt-4">
            <div class="container-lg text-center">
              <div style="font-size: 8rem">
                🔒
              </div>
              <span id="paywall-text" class="h1 " style="font-size:3rem;">
                Paywall
              </span>
              <div>
                <span style="font-size:2.2rem">(-_-)</span>
              </div>
            </div>
          </div>
        </div>
        <%- include('./partials_footer'); %>
  </main>

</body>

</html>
