<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials_head'); %>
</head>

<body>
  <main>
    <%- include('./partials_header'); %>
      <div class="bg-light my-2">
        <div class="container-lg text-center">
          <h1 class="h1 mb-1 fs-1">
            &lpar;&gt;&#65377;&#9685;&#8255;&#9685;&#65377;&rpar;&gt;
            <span style="font-size:6rem">&#128179;</span>
            &lt;&lpar;&#65377;&#9685;&#8255;&#9685;&#65377;&lt;&rpar;
          </h1>
          <h1 class="h1 mb-3 fs-1">
            Web monitized link sharing
          </h1>
          <iframe width="80%" height="550" src="https://www.youtube.com/embed/NO6SFqhSb4g" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div style="height:2rem"></div>
      </div>

      <div style="height:7rem"></div>

      <div class="container-lg">
        <h1 class="h1 fs-1 ">How to share</h1>
        <img src="/public/create-link.gif" alt="Create link GIF" width="600">

        <div class="py-3">
          <h2 class="h2 fs-2">Step 1</h2>
          <p class="fs-3">Install browser extension</p>
        </div>
        <div class="py-3">
          <h2 class="h2 fs-2">Step 2</h2>
          <p class="fs-3">Head over to demo tab</p>
        </div>
        <div class="py-3">
          <h2 class="h2 fs-2">Step 3</h2>
          <p class="fs-3">Enter amount and/or time</p>
        </div>
        <div class="py-3">
          <h2 class="h2 fs-2">Step 4</h2>
          <p class="fs-3">Generate link. This link will direct you to the non-paywall page.</p>
        </div>
      </div>
      <div style="height:10rem"></div>
      <div class="container text-center fs-3">
        <p>
          Research and development sponsered by the <a href="https://www.grantfortheweb.org/">Grant for the Web</a>!
        </p>
        <p>
          &#10084;
        </p>
      </div>

      <%- include('./partials_footer'); %>
  </main>

</body>

</html>
