<div class="footer bg-light py-5 text-muted">
  <div class="container text-center">
    <div class="fs">
    <u>Terms and Conditions </u>
    </div>
    <div class="pb-3">
    <u>Privacy Policy</u>
    </div>
    <div>
    Grant for the Web Round 2 Deliverable 2022
    </div>
  </div>
</div>
