<div class="footer bg-light py-5 text-muted">
  <div class="container text-center">
    <div class="fs">
    <a href="https://drive.google.com/file/d/1m5ZQsX3pdMm2jSYf27ScK7-zzkZ2Nchz/view?usp=sharing">Terms and Conditions </a>
    </div>
    <div class="pb-3">
    <a href="/privacy">Privacy Policy</a>
    </div>
    <div>
    A* Digital LLC © 2023
    </div>
  </div>
</div>
