<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials_head'); %>
</head>

<body>
  <main>
    <%- include('./partials_header'); %>
    <div class=" mt-5">
      <div class="container-lg text-center">
        <h1 class="h1 mb-3 " style="font-size:4rem;">
          A* Digital Privacy Policy
        </h1>
      </div>
    </div>

    <div class="container-lg">
      <div class="py-3">
        <h2 class="h1 fs-1">Introduction</h2>
        <p class="fs-4"> This Privacy Policy describes the ways in which information is collected, used and shared by A* (“A*”, "we", "our" or “us”).  A* is committed to protecting information which is collected from individuals who use its website and the other online platforms and services that A* controls and operates (collectively referred to herein as the “Site”).  Each individual whose information is collected, used, shared or otherwise processed in connection with the Site is referred to in this Privacy Policy as “you”.
        <br>
        <br>
        Please review this Privacy Policy carefully.  Your use of the Site in any manner constitutes your acceptance of the terms in this Privacy Policy.
          </p>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">I. Collection of Personal Information</h2>
        <p class="fs-4">We may collect information that directly or indirectly identifies you (“Personal Information”).  The Personal Information we may collect includes the following: </p>
        <ul>
          <li class="fs-4">
            Your internet protocol (IP) address; and
          </li>
          <li class="fs-4">
            Any other Personal Information you voluntarily choose to include in inquiries, feedback or any other communications you send to us via the Site
          </li>
        </ul>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">II. Uses and Disclosures of Personal Information</h2>
        <p class="fs-4">We use Personal Information for the following purposes:</p>
        <ul>
          <li class="fs-4">to respond to you when you have sent a communication to us via the Site;
          </li>
          <li class="fs-4">to comply with our legal obligations or exercise and/or defend our legal rights; and
          </li>
          <li class="fs-4">to monitor and enforce compliance with our standards and policies (including but not limited to this Privacy Policy)
          </li>
        </ul>
          
          <p class="fs-4">We disclose Personal Information as follows:</p>
          <ul>
            <li class="fs-4">we disclose users' IP addresses to third parties (such as Content Delivery Network (CDN) providers) that assist us with the operation and functioning of our Site; and</li>
            <li class="fs-4">we disclose Personal Information to the extent we are legally obligated to do so (e.g., to law enforcement, regulators, government agencies or other parties as required by applicable laws and regulations) or to exercise and/or defend our legal rights</li>
          </ul>   
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">III. Third Party Service Providers</h2>
        <p class="fs-4">As noted above, we disclose Personal Information to certain third parties (e.g., CDN providers) so that they may support the functioning of our Site.  Although we do not control these third parties, we make commercially reasonable efforts to engage only those service providers that adequately protect Personal Information and comply with applicable information privacy and security laws.</p>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">IV. Deletion and Modification of Personal Information
        </h2>
        <p class="fs-4">To the extent that we maintain your Personal Information and you wish to request that we delete or modify your Personal Information, you may contact us at <a href="mailto:hello@astar.app">hello@astar.app</a>.  We will respond to requests as required by applicable law.  In some circumstances, we may not be able to comply with your request (for example, we may deny your deletion request if we must retain your Personal Information in order to comply with a legal obligation).</p>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">V. Children Under 13
        </h2>
        <p class="fs-4">Our Site is not intended for use by children under 13 years old.  We do not knowingly solicit or collect Personal Information from children under 13.  If we discover that we have collected Personal Information from a child under 13, we will seek to promptly delete such Personal Information.  If you believe that we have collected Personal Information from any child under the age of 13, please contact us at 
        <a href="mailto:hello@astar.app">hello@astar.app</a>.</p>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">VI. Security of Personal Information
        </h2>
        <p class="fs-4">We implement reasonable and appropriate security measures aimed to prevent Personal Information from being lost or used, accessed, altered or disclosed in an unauthorized way.  For example, we implement controls designed to permit the secure transmission and storage of Personal Information.  Please note, however, that there are inherent risks relating to electronic transmission of information over the Internet and although we use security measures to protect Personal Information, we cannot guarantee that unauthorized access, use or disclosure of Personal Information will never occur.</p>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">VII. Links to Third Party Websites
        </h2>
        <p class="fs-4">Our Site may include links to third party websites, however, we do not endorse or recommend such third party websites and we are not responsible for the privacy practices of the third parties that operate such websites.  When you access third parties’ websites, we encourage you to read the privacy policies on those websites.</p>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">VIII. International Transfer of Personal Information
        </h2>
        <p class="fs-4">A* may, as permitted by applicable laws and regulations, transfer Personal Information internationally.  For example, if you are located outside of the U.S. and share your Personal Information via the Site, A* or its service providers may collect and use such Personal Information in the U.S. for purposes described in this Privacy Policy.
        <br>
        <br>
        Information privacy and security laws in the U.S. differ from laws in other countries.  Therefore, Personal Information which is transferred internationally may be subject to different legal protections once transferred.  In any event, A* will protect the privacy and security of Personal Information as specified in this Privacy Policy.
        </p>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">IX. Retention of Personal Information
        </h2>
        <p class="fs-4">We retain Personal Information until the earlier to occur of the following: (a) once we have fulfilled the purposes of using, disclosing and/or processing such Personal Information described in this Privacy Policy; or (b) the expiration of the retention period mandated by applicable laws and regulations.</p>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">X. Changes to our Privacy Policy
        </h2>
        <p class="fs-4">We reserve the right to change this Privacy Policy from time to time for various reasons, including without limitation, to reflect any changes to the way in which we collect, use, disclose or otherwise process Personal Information, to conform to applicable legal requirements or as we otherwise may deem necessary or appropriate.  We will post any updated Privacy Policy (indicating the date the Privacy Policy was last revised) on our Site. Please check this page frequently to review the most up to date version of the Privacy Policy.</p>
      </div>

      <div class="py-3">
        <h2 class="h2 fs-3">XI. Contact Us
        </h2>
        <p class="fs-4">If you have any questions or comments about this Privacy Policy or any of our privacy practices, please feel free to contact us at <a href="mailto:hello@astar.app">hello@astar.app</a>.</p>
      </div>
    </div>

    <%- include('./partials_footer'); %>
  </main>

</body>

</html>
